<div id="sidebar" class="sidebar sidebar-visible-pro">
    <div id="sidebar-padding">
        <div class="tablet-show-hide"><i class="fa fa-bars"></i></div>
        <header>
            <h1 id="logo">
                <a href="index-2.html" title="Synopsis Theme" rel="home">
                    <img src="images/logo.png" alt="Synopsis Theme" width="230">
                </a>
            </h1>
            <nav>
                <div class="menu-main-navigation-container">
                    <ul id="menu-main-navigation" class="sf-menu sf-vertical">
                        <li class="current-menu-item">
                            <a href="#">Home</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="hompage-slider.html">Homepage Slider</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#profiles">Resume</a>
                        </li>
                        <li>
                            <a href="portfolio.html">Portfolio</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="single-portfolio.html">Single Portfolio</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <a href="#!" class="sf-with-ul">Pages</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="page-columns.html">Columns</a>
                                </li>
                                <li>
                                    <a href="page-faq.html">FAQ</a>
                                </li>
                                <li>
                                    <a href="page-maps-videos.html">Maps and Videos</a>
                                </li>
                                <li>
                                    <a href="page-shortcodes.html">Shortcodes Examples</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="blog.html">Latest News</a>
                        </li>
                        <li>
                            <a href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="clearfix"></div>
        </header>
        <div class="clearfix"></div>
    </div><!-- close #sidebar-padding -->
    <div class="clearfix"></div>
</div><!-- close #sidebar -->
<div class="show-hide-pro sidebar-show-hide"><i class="fa fa-bars"></i></div><!-- Show/Hide Sidebar Button -->
<div class="show-hide-pro"><i class="fa fa-bars"></i></div><!-- Show/Hide Sidebar Button -->
<div id="toggle-cover-pro"></div><!-- black screen covering on sidebar extend -->


<div id="main">
    <div class="content-container-wrapper">
        <div class="content-container-pro">
            <div class="width-container">
                <!-- =================================== -->
                <div class="page-host" data-bind="router: { transition:'entrance', cacheViews:false }"></div>
                <!-- =================================== -->
            </div>
        </div>
    </div>
    <div id="contact-widget-container" class="light-fonts-pro pro-img-container">
        <div class="content-container-pro">
            <div class="width-container">
                <h2 class="blog-title-pro">Contact </h2>
                <div class="grid3column-progression contact-info">
                    <span class="contact-icon"><i class="fa fa-mobile"></i></span>
                    <div class="contact-detail">Phone</div>
                    <div class="contact-byline">+0(11)8 12345678</div>
                </div>
                <div class="grid3column-progression contact-info">
                    <span class="contact-icon"><i class="fa fa-map-marker"></i></span>
                    <div class="contact-detail">Location</div>
                    <div class="contact-byline">998292 Smith Str., New York City, USA</div>
                </div>
                <div class="grid3column-progression lastcolumn-progression contact-info">
                    <span class="contact-icon"><i class="fa fa-envelope"></i></span>
                    <div class="contact-detail">Email</div>
                    <div class="contact-byline">john.smith@johns.com</div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<div class="clearfix"></div>

<div id="widget-area">
</div>

<div class="clearfix"></div>

<footer>
    <div id="copyright">
        <div class="width-container">
            <h2 class="blog-title-pro">© 2015 All Rights Reserved.</h2>
        </div>
    </div>
</footer>		


		
