<div id="sidebar" class="sidebar sidebar-visible-pro">
    <div id="sidebar-padding">
        <div class="tablet-show-hide"><i class="fa fa-bars"></i></div>
        <header>
            <h1 id="logo">
                <a href="index-2.html" title="Synopsis Theme" rel="home">
                    <img src="images/logo.png" alt="Synopsis Theme" width="230">
                </a>
            </h1>
            <nav>
                <div class="menu-main-navigation-container">
                    <ul id="menu-main-navigation" class="sf-menu sf-vertical">
                        <li class="current-menu-item">
                            <a href="index-2.html">Home</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="hompage-slider.html">Homepage Slider</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="page-resume.html">Resume</a>
                        </li>
                        <li>
                            <a href="portfolio.html">Portfolio</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="single-portfolio.html">Single Portfolio</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <a href="#!" class="sf-with-ul">Pages</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="page-columns.html">Columns</a>
                                </li>
                                <li>
                                    <a href="page-faq.html">FAQ</a>
                                </li>
                                <li>
                                    <a href="page-maps-videos.html">Maps and Videos</a>
                                </li>
                                <li>
                                    <a href="page-shortcodes.html">Shortcodes Examples</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="blog.html">Latest News</a>
                        </li>
                        <li>
                            <a href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="clearfix"></div>
        </header>
        <div class="clearfix"></div>
    </div><!-- close #sidebar-padding -->
    <div class="clearfix"></div>
</div><!-- close #sidebar -->
<div class="show-hide-pro sidebar-show-hide"><i class="fa fa-bars"></i></div><!-- Show/Hide Sidebar Button -->
<div class="show-hide-pro"><i class="fa fa-bars"></i></div><!-- Show/Hide Sidebar Button -->
<div id="toggle-cover-pro"></div><!-- black screen covering on sidebar extend -->

<div id="header-title-container" class="pro-img-container">
    <div id="page-title" class="content-container-pro">
        <div class="width-container">
            <h1>I am a professional web & graphic designer from US, New York</h1>
            <div class="page-title-description">Sons of the Sun.  He had nothing better to do than, taking</div>
            <div class="header-social-icons">
                <div class="social-ico">
                    <a href="../../facebook.com/index.html" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="../../dribbble.com/index.html" target="_blank"><i class="fa fa-dribbble"></i></a>
                    <a href="../../twitter.com/index.html" target="_blank"><i class="fa fa-twitter"></i></a>
                </div><!-- close .social-ico -->
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<div id="main">
    <div class="content-container-wrapper">
        <div class="content-container-pro">
            <div class="width-container">
                <h2 class="blog-title-pro">Hello, </h2>
                <div class="home-subtitle">
                    my name is John Smith, I’m a professional web & graphic
                    designer from US, New York
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse porttitor fermentum vestibulum maece-<br>nas fermentum urna dolor eu iaculis magna aliquam sed. Mauris nec posuere mauris, in mollis sapien.<br> Pellentesque hendrerit at nibh sed pretium.<br>
                    In eget urna a sem vestibulum feugiat a a nulla.  Proin dictum justo id nibh imperdiet maximus a eget felis.<br>  Vivamus sed ligula at augue dictum feugiat vitae sit amet nisi.  Integer a mauris diam. Phasellus non porttitor<br> ex, a consectetur dolor.
                </p>
                <div class="home-content-buttons">
                    <a href="#!" class="ls-sc-button">See My Resume</a>
                    <a href="#!" class="ls-sc-button">See My Portfolio</a>
                </div>
            </div>
        </div>
    </div>
    <div id="skills-widget-pro" class="content-container-wrapper light-fonts-pro">
        <div class="content-container-pro">
            <div class="width-container">
                <h2 class="blog-title-pro">My Skills</h2>
                <ul class="skill-list">
                    <li>
                        <div class="skill-set-pro">Adobe Photoshop</div>
                        <div class="skill-synopsis pro-95"></div>
                        <div class="skill-synopsis-number">95%</div>
                        <div class="clearfix"></div>
                    </li>
                    <li>
                        <div class="skill-set-pro">Adobe Illustrator</div>
                        <div class="skill-synopsis pro-75"></div>
                        <div class="skill-synopsis-number">75%</div>
                        <div class="clearfix"></div>
                    </li>
                    <li>
                        <div class="skill-set-pro">Adobe InDesign</div>
                        <div class="skill-synopsis pro-60"></div>
                        <div class="skill-synopsis-number">60%</div>
                        <div class="clearfix"></div>
                    </li>
                    <li>
                        <div class="skill-set-pro">CSS3</div>
                        <div class="skill-synopsis pro-90"></div>
                        <div class="skill-synopsis-number">90%</div>
                        <div class="clearfix"></div>
                    </li>
                    <li>
                        <div class="skill-set-pro">HTML5</div>
                        <div class="skill-synopsis pro-80"></div>
                        <div class="skill-synopsis-number">80%</div>
                        <div class="clearfix"></div>
                    </li>
                </ul>
                <div class="charts-wrapper">
                    <div class="grid3column-progression">
                        <span class="chart" data-percent="90">
                            <span class="chart-text-pro">En</span>
                            <span class="chart-desc-pro">English</span>
                        </span>
                    </div>
                    <div class="grid3column-progression">
                        <span class="chart" data-percent="75">
                            <span class="chart-text-pro">Fr</span>
                            <span class="chart-desc-pro">French</span>
                        </span>
                    </div>
                    <div class="grid3column-progression lastcolumn-progression">
                        <span class="chart" data-percent="50">
                            <span class="chart-text-pro">De</span>
                            <span class="chart-desc-pro">German</span>
                        </span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="aligncenter">
                    <a href="#!" class="ls-sc-button secondary aligncenter">See More Statistics</a>
                </div>
            </div>
        </div>
    </div>

    <div id="contact-widget-container" class="light-fonts-pro pro-img-container">
        <div class="content-container-pro">
            <div class="width-container">
                <h2 class="blog-title-pro">Contact </h2>
                <div class="grid3column-progression contact-info">
                    <span class="contact-icon"><i class="fa fa-mobile"></i></span>
                    <div class="contact-detail">Phone</div>
                    <div class="contact-byline">+0(11)8 12345678</div>
                </div>
                <div class="grid3column-progression contact-info">
                    <span class="contact-icon"><i class="fa fa-map-marker"></i></span>
                    <div class="contact-detail">Location</div>
                    <div class="contact-byline">998292 Smith Str., New York City, USA</div>
                </div>
                <div class="grid3column-progression lastcolumn-progression contact-info">
                    <span class="contact-icon"><i class="fa fa-envelope"></i></span>
                    <div class="contact-detail">Email</div>
                    <div class="contact-byline">john.smith@johns.com</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<div class="clearfix"></div>

<div id="widget-area">
</div>

<div class="clearfix"></div>

<footer>
    <div id="copyright">
        <div class="width-container">
            <h2 class="blog-title-pro">© 2015 All Rights Reserved.</h2>
        </div>
    </div>
</footer>		

        <!-- =================================== -->
        <div class="page-host" data-bind="router: { transition:'entrance', cacheViews:false }"></div>
        <!-- =================================== -->
		
